.banner{
    width:100%;
    height: 100vh;
    background-image: url('../../assets/bannerbg4.jpg');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.34);
    color: white;
    backdrop-filter: blur(10%);
}

.banner-title{
    font-family:"Playfair Display";
    font-size:90px;
    font-weight: 700;
}
.banner-description{
    font-family:"Playfair Display";
    font-weight: 400;
}
.banner-heading{
    margin: 100px auto ;

}
.section-heading{
    margin: 200px auto 100px;
}
.section-title{
    font-family:"Playfair Display";
    font-size:45px;
    font-weight: 700;
}
/*  */